[submodule "modules/zsh/spaceship-prompt"]
	path = home/modules/zsh/custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt
[submodule "pkgs/nixpkgs/nixos-19.03"]
	path = pkgs/nixpkgs/master
	url = https://github.com/NixOS/nixpkgs
[submodule "pkgs/hies"]
	path = pkgs/hie/hies
	url = https://github.com/Infinisil/all-hies
[submodule "pkgs/home-manager/master"]
	path = pkgs/nixpkgs/overlays/home-manager/master
	url = https://github.com/rycee/home-manager
[submodule "pkgs/nix-doom-emacs/master"]
	path = pkgs/nix-doom-emacs/master
	url = https://github.com/vlaci/nix-doom-emacs
[submodule "pkgs/nixpkgs/overlays/emacs/master"]
	path = pkgs/nixpkgs/overlays/emacs/master
	url = https://github.com/nix-community/emacs-overlay
