
$base00: #{{{base00}}};
$base01: #{{{base01}}};
$base02: #{{{base02}}};
$base03: #{{{base03}}};
$base04: #{{{base04}}};
$base05: #{{{base05}}};
$base06: #{{{base06}}};
$base07: #{{{base07}}};
$base08: #{{{base08}}};
$base09: #{{{base09}}};
$base0a: #{{{base0A}}};
$base0b: #{{{base0B}}};
$base0c: #{{{base0C}}};
$base0d: #{{{base0D}}};
$base0e: #{{{base0E}}};
$base0f: #{{{base0F}}};

* {
  all: unset;
}

.bar {
  margin: 0px;
  border-style: solid;
  border-color: $base0f;
  border-width: 2px;
  border-radius: 7px;
  min-height: 21px;
  background-color: $base01;
  color: $base04;
  font-size: 15px;
}

scale trough {
  background-color: $base02;
  min-height: 13px;
  border: solid 2px;
  border-radius: 5px;
  border-color: $base0f;
}

scale trough highlight {
  all: unset;
  border: solid 1px;
  border-color: $base02;
  border-radius: 5px;
}


//   ____           _            
//  / ___|___ _ __ | |_ ___ _ __ 
// | |   / _ \ '_ \| __/ _ \ '__|
// | |__|  __/ | | | ||  __/ |   
//  \____\___|_| |_|\__\___|_|   
//                               
// Center

.topcenter {
}

.workspace {
  min-width: 200px;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: $base01;
}

.workspace :hover {
  background-color: $base04;
  color: $base01;
}

.desktop {
  min-width: 19px;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 1px;
  border-color: $base01;
  font-size: 13px;
  color: $base01;
}



//  _          __ _   
// | |    ___ / _| |_ 
// | |   / _ \ |_| __|
// | |__|  __/  _| |_ 
// |_____\___|_|  \__|
//                    
// Left

.topleft {
  padding-left: 10px;
}

.cpuprogress {
  min-width: 19px;
  min-height: 19px;
  background-color: $base02;
}

.cputemp {
  min-width: 19px;
  min-height: 19px;
  background-color: $base02;
}

.ramusage {
  min-width: 19px;
  min-height: 19px;
  background-color: $base02;
}


//  ____  _       _     _   
// |  _ \(_) __ _| |__ | |_ 
// | |_) | |/ _` | '_ \| __|
// |  _ <| | (_| | | | | |_ 
// |_| \_\_|\__, |_| |_|\__|
//          |___/           
// Right

.taskitem {
  background-color: $base0f;
  border-style: none;
  min-width: 21px;
  min-height: 21px;
}

.volume scale trough highlight {
  background-color: $base0d;
}

.backlight scale trough highlight {
  background-color: $base0a;
}
